.img50{
  width: 50%;
}

.pattern {
  background:url(assets/images/pattern/04.png) no-repeat center center; 
  background-size:cover;
}

.persen85{
	width:85%;
}

.persen100{
	width:100%;
}

.persen60{
	width:60%;
}

.persen40{
	width:40%;
}

.persen90{
	width:90%;
}